* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
}

.cardContainer {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.card {
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    display: grid;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    justify-items: center;
    /* align-content: space-between; */
    align-items: end;
}

.card img {
    width: 180px;
    height: auto;
    /* object-fit: contain; */
}